<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Example of Employee Table with twitter bootstrap</title>
    <meta name="description" content="Creating a Employee table with Twitter Bootstrap. Learn with example of a Employee Table with Twitter Bootstrap.">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/articleCreate.css" rel="stylesheet">
    <style>
    </style>
</head>
<body style="margin:20px auto">
<!-- ======= Header ======= -->
<div class="container-fluid" style="max-width: 1117.5px;">
    <div class="row">
        <div class="col">
            <div class="logo">
                <h1><a onclick="location.href='/'">TechTalk</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="/"><img src="/img/logo.png" alt="" class="img-fluid"></a>
            </div>
        </div>
        <div class="col-auto">
            <div class="d-flex justify-content-end align-items-center mb-4">
                <a class="nav" onclick="location.href='/'">Home</a>
                <a class="nav" onclick="location.href='/login'" style="margin-left: 10px;">Login</a>
                <a class="nav" onclick="location.href='/admin'" style="margin-left: 10px;">MyPage</a>
            </div>
        </div>
    </div>
</div>
</header><!-- End Header -->
<div class="container">
    <div class="row header" style="text-align:center;color:darkorange; margin-top: 50px;">
        <h3>Admin Page</h3>
    </div>

    <table id="myTable" class="table table-striped" >
        <button class="btn btn-danger">Erase</button>
        <thead>
        <tr>
            <th>user_num</th>
            <th>nick_name</th>
            <th>name</th>
            <th>email(id)</th>
            <th>active</th>
            <th>erase</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td>
            </td>
            <td th:text="${member.nickName}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.username}"></td>
            <td > 여기에 active 상태 표시</td>
            <td>
                <input type="checkbox">
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer id="footer">

    <div class="container">
        <div class="copyright">
            &copy;  <strong><span>TechTalk</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
            All Rights Reserved Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->
</body>
<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
</script>
</html>