<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시글 생성</title>
    <link rel="stylesheet" href="/css/articleCreate.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <!-- 부트스트랩 CSS 링크 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1><a onclick="location.href='/'">TechTalk</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="main.html"><img alt="" class="img-fluid"></a>
        </div>
        <div class="d-flex justify-content-end align-items-center mb-4">
            <a class="nav" onclick="location.href='/'">Home</a>
            <a class="nav" onclick="location.href='/login'" style="margin-left: 10px;">Login</a>
            <a class="nav" onclick="location.href='/logout'" style="margin-left: 10px;">Logout</a>
            <a class="nav" onclick="location.href='/admin'" style="margin-left: 10px;">MyPage</a>
        </div>
    </div>
    </div>
</header><!-- End Header -->
<div class="board_wrap">
    <div class="board_create">
        <div class="board_title">
            <strong th:if="${article.id} == null">게시글 작성</strong>
            <strong th:if="${article.id} != null">수정하기</strong>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title d-flex align-items-center justify-content-between">
                    <div style="flex: 1;">
                        <dl>
                            <dt>제목</dt>
                            <dd><input type="text" placeholder="제목 입력" id="title" th:value="${article.title}"/></dd>
                        </dl>
                    </div>
                    <div class="dropdown">
                        <button id="categoryDropdownBtn" class="btn btn-dark" type="button">
                            카테고리 선택
                        </button>
                        <div id="categoryDropdown" class="dropdown-menu" aria-labelledby="categoryDropdownBtn">
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="1" th:checked="${'ARTICLE'}"> ARTICLE
                            </label>
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="2" th:checked="${'NOTICE'}"> NOTICE
                            </label>
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="3" th:checked="${'JAVA'}"> JAVA
                            </label>
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="4" th:checked="${'SQL'}"> SQL
                            </label>
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="5" th:checked="${'JS'}"> JS
                            </label>
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="6" th:checked="${'ETC'}"> ETC
                            </label>
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="7" th:checked="${'PYTHON'}"> PYTHON
                            </label>
                            <label class="dropdown-item">
                                <input type="checkbox" name="types[]" value="8" th:checked="${'DB'}"> DB
                            </label>
                        </div>
                    </div>

                </div>

                <div class="cont">
                    <label class="cont_first">
                        <textarea placeholder="내용 입력" id="content" th:text="${article.content}"></textarea>
<!--                        <textarea placeholder="내용 입력" id="content" th:text="${board.content}"></textarea>-->
                    </label>
                </div>
                <div class="bt_wrap">
                    <input type="hidden" id="article-id" th:value="${article.id}">
                    <button th:if="${article.id} == null" id="create-btn" class="on" type="submit">등록</button>
                    <button th:if="${article.id} != null" id="modify-btn" class="on" type="submit">수정</button>
                    <a th:if="${article.id} == null" th:href="@{/articles/{type}(type= ${'ARTICLE'})}">취소</a>
                    <a th:if="${article.id} != null" th:href="@{/article/{id}(id=${article.id})}">취소</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="container">
        <div class="copyright">
            &copy;  <strong><span>TechTalk</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/ -->
            All Rights Reserved Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->
<!-- 부트스트랩 JavaScript 라이브러리 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="/js/article.js"></script>

</body>
</html>