<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo">
            <h1><a href="index.html">TechTalk</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="main.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <div class="d-flex justify-content-end align-items-center mb-4">
            <a href="http://localhost:63342/TechTalk/src/main/resources/templates/site/index.html?_ijt=eoi663qigssg77t6oj56e0g7d1&_ij_reload=RELOAD_ON_SAVE">Home</a>
            <a href="#" style="margin-left: 10px;">Login</a>
            <a href="#" style="margin-left: 10px;">MyPage</a>
        </div>
    </div>
</header>
