#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
    font-size: 26px;
    padding: 0 0 0 8px;
    margin: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid #e96b56;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #545454;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

.post-title, .post-content {
    cursor: pointer;
}

.pagination-link {
    margin-right: 5px;
}

#footer {
    padding: 20px 0;
    color: white; /* 텍스트 색상을 흰색으로 지정 */
    margin-top: 100px; /* 마진 탑을 추가하여 상단으로 이동 */
}

#footer a {
    color: #ff6a00; /* 하이퍼링크의 텍스트 색상을 오렌지로 지정 */
}

#searchInput {
    border-color: #ff6a00 !important; /* 검색 입력란 테두리 색상을 진한 주황으로 지정 */
}

#create-btn {
    background-color: #ff6a00; /* 글 작성 버튼 배경색을 진한 주황으로 지정 */
    border-color: #ff6a00; /* 글 작성 버튼 테두리 색상을 진한 주황으로 지정 */
}

#create-btn:hover {
    background-color: darkorange; /* 마우스를 올렸을 때의 버튼 배경색을 진한 주황으로 지정 */
    border-color: darkorange; /* 마우스를 올렸을 때의 버튼 테두리 색상을 진한 주황으로 지정 */
}