#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
    font-size: 26px;
    padding: 0 0 0 8px;
    margin: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid #e96b56;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #545454;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

.post-title, .post-content {
    cursor: pointer;
}

.pagination-link {
    margin-right: 5px;
}

.container{
    /*min-height: 500px;*/
    /*padding-bottom: 150px;*/
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 높이를 화면의 높이와 같게 설정하여 페이지의 내용이 적을 때도 전체 높이를 가지도록 함 */
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    position: relative;
    bottom: auto; /* bottom 속성 제거 */
    width: 100%;
    background: #404040;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    transform: translateY(0%);
    display: flex;
    margin-top: auto;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #404040;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #e96b56;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #e6573f;
}

#footer .footer-top {
    background: #3b3b3b;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #545454;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #e96b56;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ec7f6d;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: #e96b56;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer a {
    color: #e96b56; /* 주황색 */
    text-decoration: none;
}

#searchInput {
    border-color:  #e96b56 !important; /* 검색 입력란 테두리 색상을 진한 주황으로 지정 */
}

#create-btn {
    background-color: #f17762;
    border-color: #ff6a00;
    color: white;
    border-radius: 20px;
    width:70px
}

#create-btn:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
}
.table_article{
    background-color: #e1dddd;
    color: #545252;
    /*text-align: center;*/

}